version: "3"
services:
  backend:
    build: ./backend
    container_name: backend-container
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend-container
    ports:
      - "3000:80"
    depends_on:
      - backend
